<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Additem</servlet-name>
        <servlet-class>Additem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Validate</servlet-name>
        <servlet-class>Validate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insercart</servlet-name>
        <servlet-class>insercart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>placeorder</servlet-name>
        <servlet-class>placeorder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletecart</servlet-name>
        <servlet-class>deletecart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteorder</servlet-name>
        <servlet-class>deleteorder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addkitchen</servlet-name>
        <servlet-class>addkitchen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletekitchen</servlet-name>
        <servlet-class>deletekitchen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addfeedback</servlet-name>
        <servlet-class>addfeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bill</servlet-name>
        <servlet-class>bill</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Additem</servlet-name>
        <url-pattern>/Additem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Validate</servlet-name>
        <url-pattern>/Validate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insercart</servlet-name>
        <url-pattern>/insercart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>placeorder</servlet-name>
        <url-pattern>/placeorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletecart</servlet-name>
        <url-pattern>/deletecart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteorder</servlet-name>
        <url-pattern>/deleteorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addkitchen</servlet-name>
        <url-pattern>/addkitchen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletekitchen</servlet-name>
        <url-pattern>/deletekitchen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addfeedback</servlet-name>
        <url-pattern>/addfeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bill</servlet-name>
        <url-pattern>/bill</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>start.jsp</welcome-file>
    </welcome-file-list>
</web-app>
